matplotlib>=3.2.1
PySoundFile>=0.9.0.post1
dcase_util>=0.2.15
pandas>=1.0.4
scipy>=1.4.1
tqdm>=4.45.0
numpy>=1.18.3
PyYAML>=5.3.1
scikit_learn>=0.23.2
soundfile>=0.10.3.post1
sphinx
sphinx_rtd_theme==0.5.0
recommonmark
numpydoc